.dashboard {
  margin-top: 80px;
}


.card {
  max-width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #fff;
 
  
}

.card-icon {
  color: #fff;
  background-image: linear-gradient(to right, #5a036b, #ea5489);
  border-radius: 20%;
  padding: 5px;
  
  
}

.card.info-card h5 {
  color: #434548;
}

.card h6 {
  font-size: 1.5rem;
  color: #012970;
  font-weight: 700;
  margin: 0;
}
