
.pagetitle h1 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 700;
  color: #012970;
}
.pagetitle {
  position: absolute;
  padding-left: 300px; 
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}

.breadcrumb-item a {
  color: #6c757d; 
}

.breadcrumb-item.active {
  color: #212529;
}