
.boxOne {
    background-image: url("file:///C:/Users/HP/Downloads/wave-haikei%20(2).svg");
    background-size: contain;

}

.boxTwo {
    background-image: url("file:///C:/Users/HP/Downloads/wave-haikei%20(1).svg");
    background-size: contain;
}

.boxThree {
    background-image: url("file:///C:/Users/HP/Downloads/wave-haikei%20(5).svg");
    background-size: contain;
}